<<<<<<< HEAD
.nav-item{
    padding: 2px 50px;
}
.nav-link{
    padding: 5px 50px;
}
=======
.nav-item{
    padding: 2px 50px;
}
.nav-link{
    padding: 5px 50px;
}
>>>>>>> DotNet_React_AE_Customized_NameBoard_Gift_2023-vasudha2
