.loginForm {
    display: flex;
    height: 100vh;
    justify-content: center;   
    padding: 80px;
    background-color: rgb(212, 191, 163);
};

h2{
   margin: auto;
}.loginHead {
    padding: 20px;
    background-color: rgb(49, 7, 7);
    display: flex !important;
    color: white;
    justify-content: center !important;
    position: absolute;
    top: 0;
    left: 0;
    right : 0;
    display: flex;
  }
#loginButton{
    margin : 2px 4px 2px 105px !important;
};
.form-control{
    width:300px;
}