.SignupForm {
    display: flex;
    justify-content: center;   
    padding: 50px 10px;
    background-color: rgb(212, 191, 163);
};


.form-control{
  width:300px;
}
Button{
  text-align: center;
}

#button{
  padding-left: 50px;
}
#text{
  padding-left: 40px;
}

